html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e4e4e4;
  background-color: #f9f9f9;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 32px;
}

.header-menu-link {
  font-size: 16px;
  color: #121722;
  text-decoration: none;
  font-weight: 400;
}

.header-nav {
  margin-left: 466px;
  margin-right: 40px;
}

.header-cta {
  font-size: 16px;
  color: #121722;
  text-decoration: none;
  font-weight: 700;
}

.header-cta:last-child {
  margin-left: 40px;
  background-color: #f0f5ff;
  color: #4058ff;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 24px;
}

.banner-title h1 {
  color: #121722;
  font-size: 50px;
  font-weight: 400;
}

.banner-title p {
  font-size: 20px;
  font-weight: 400;
  color: #121722b3;
}

.banner-btn {
  background-color: #2f63d4;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
}

.clients-container {
  background-color: #4058ff;
  border-radius: 16px;
  display: flex;
}

.clients-title {
  text-align: center;
  margin-top: 17px;
  padding-bottom: 24px;
}

.clients-title h2 {
  color: #121722;
  font-size: 36px;
  font-weight: 400;
}

.clients-title p {
  color: #121722b3;
  font-size: 21px;
  font-weight: 400;
}

.left {
  text-align: left;
  padding-top: 116px;
  padding-bottom: 118px;
  padding-left: 48px;
  padding-right: 90px;
}

.left h3 {
  color: #ffffff;
  font-size: 34px;
  font-weight: 400;
}

.left p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.clinets-item {
  border-bottom: 1px solid #121722;
}

.right {
  text-align: right;
  padding-top: 80px;
}

.right img {
  border-radius: 8px;
}

.container-navigate {
  display: flex;
  margin-top: 80px;
  align-items: center;
}

.left-navigate {
  text-align: left;
}

.right-navigate {
  text-align: right;
}

.right-navigate h3 {
  margin: 0;
  font-size: 34px;
  font-weight: 400;
  color: #121722;
}

.right-navigate p {
  font-size: 20px;
  font-weight: 400;
  color: #121722b3;
}
